<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Help! is the title of the fifth British and tenth North American
  album by The Beatles, and the soundtrack from their film of the same
  name. 
</p>
